html {
  scroll-behavior: smooth;
}

footer {
  background-color: rgba(98, 63, 79, 0.85);
}

.custom-navbar {
  background-color: rgba(98, 63, 79, 0.85);
}

.customHeader {
  color: #3c313e;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.linkHeader {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.footerText {
  color: #fffbf8;
}

.custom-navbar .navbar-nav .nav-link {
  color: #fffbf8;
}

.myLink {
  background-color: rgba(98, 63, 79, 0.85);
  color: #fffbf8;
  padding: 20px;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */

  border: 1px solid #dee2e6;
  text-align: center;
  border-radius: 10px;
}

.myLink p {
  margin: 0;
}

.myLink:hover {
  background-color: rgba(98, 63, 79); /* Slightly darker background on hover */
}

.eventImage {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.portfolioPhoto {
  border-radius: 4em;
  max-width: 100%;
}

.careTips {
  list-style-type: none;
}

.careTips li::before {
  content: "-";
  margin-right: 8px;
}

#aboutMePhoto {
  max-width: 100%;
  height: 12em;
  width: auto;
  border-radius: 3em;
}

#aboutIntro {
  color: rgba(98, 63, 79, 0.85);
  font-family: cursive;
  font-size: x-large;
  font-weight: bold;
}

#body {
  background-color: #fffbf8;
}

#headerImage {
  height: 12em;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#logo {
  height: 5em;
  -o-object-position: center;
  object-position: center;
}

.shop {
  height: 8em;
  width: auto;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}

#cleanEm {
  font-style: italic;
}

.photo-scroll-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.photo-scroll {
  display: inline-block;
}

.photo-scroll img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.scrollButton {
  background-color: rgb(98, 63, 79);
  border: 0px;
}

.scrollButton:hover {
  background-color: rgba(98, 63, 79, 0.7);
}

#imageViewer {
  border-radius: 5em;
  background-color: rgba(98, 63, 79, 0.55);
}
