<div class="col-11 col-md-6 card m-3 bg-light pt-3">
    <img class="card-header eventImage" src="/Images/Events/b2sc_2024.jpeg" alt="Back to School Event">
    <div class="card-body">
        <p><span class="fw-bold">Date - </span> Saturday August 3, 2024</p>
        <p><span class="fw-bold">Time - </span> 10AM - 4PM</p>
        <p><span class="fw-bold">Address - </span> 
            <br />
            Inspiring Creativity Supplies & More LLC 
            <br />
            705 South Center Ave Suite C, Merrill, WI 54452
        </p>
    </div>
</div>